.task_card{
    padding:10px;
    display:flex;
    flex-direction:row;
    border:1px solid black;
    width:800px;
}
.task_field{
    padding:2px;
    display:flex;
    flex-direction:column;
}
.time_disp{
    padding:1px;
    display:flex;
    position:relative;
    top:16px;

}
.submit{
    padding:1px;
    position:relative;
    top:19px;

}
